---
section: "Home"
page: "home"
bodyclass: "page-home"
title: "The weather last year"

published: true
layout: page.hbs
---
            <div class="content">
                <h1 class="summary"></h1>
                <div class="weather">
                    <div class="temperature-today">
                        <h2>Today</h2>
                        <p class="temperature"></p>
                    </div>
                    <div class="temperature-last-year">
                        <h2>Last year</h2>
                        <p class="temperature"></p>
                    </div>
                </div>
            </div>

            <div class="settings controls">
                <div class="units">
                    <label><input type="radio" name="unit" value="us">˚F</label>
                    <label><input type="radio" name="unit" value="si">˚C</label>
                </div>
                <div class="dates">
                    <label><input type="radio" name="date" value="year">Y</label>
                    <label><input type="radio" name="date" value="month">M</label>
                    <label><input type="radio" name="date" value="week">W</label>
                    <label><input type="radio" name="date" value="day">D</label>
                </div>
            </div>
