---
section: "Home"
page: "home"
bodyclass: "page-home"
title: "The weather last year"

published: true
layout: page.hbs
---
            <div class="content">
                <h1 class="summary"></h1>
                <div class="weather">
                    <div class="result temperature-today">
                        <h2>Today</h2>
                        <p class="temperature"></p>
                    </div>
                    <div class="result temperature-last-year">
                        <h2>Last year</h2>
                        <p class="temperature"></p>
                    </div>
                </div>
            </div>

            <div class="settings controls">
                <div class="units">
                    <div class="btn" data-name="unit" data-value="us">˚F</div>
                    <div class="btn" data-name="unit" data-value="si">˚C</div>
                </div>
                <div class="dates">
                    <div class="btn" data-name="date" data-value="year">Y</div>
                    <div class="btn" data-name="date" data-value="month">M</div>
                    <div class="btn" data-name="date" data-value="week">W</div>
                    <div class="btn" data-name="date" data-value="day">D</div>
                </div>
            </div>
